@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();



$bookhotel-primary: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ddf1ef,
  400 : #c8e8e5,
  500 : #b2dfdb,
  600 : #9cd6d1,
  700 : #87cdc7,
  800 : #71c4bd,
  900 : #5cbbb3,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #d2f2ef,
  A700 : #c2e9e5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$bookhotel-accent: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ffffff,
  400 : #ffffff,
  500 : #fff8e1,
  600 : #fff1c2,
  700 : #ffeaa4,
  800 : #ffe385,
  900 : #ffdb67,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #fffefa,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);







// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bookhotel-primary: mat-palette($bookhotel-primary, 700, 300, 900);
$bookhotel-accent:  mat-palette($bookhotel-accent, 500, 400, 700);

// The warn palette is optional (defaults to red).
$bookhotel-warn:    mat-palette($mat-red);
@import './app/navigation/tabsnav/tabsnav.component-theme.scss';
// Create the theme object (a Sass map containing all of the palettes).
$bookhotel: mat-light-theme($bookhotel-primary, $bookhotel-accent, $bookhotel-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bookhotel);

@include tabsnav-component-theme($bookhotel);

// Represents a collection of typography levels.
// Defaults come from https://material.io/guidelines/style/typography.html
// Represents a collection of typography levels.
// Defaults come from https://material.io/guidelines/style/typography.html
$bookhotel-typography : mat-typography-config(
  $font-family:   'Roboto, "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(14px, 24px, 500),
  $body-1:        mat-typography-level(14px, 20px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(inherit, 1.125, 400)
);

@include mat-base-typography($bookhotel-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($bookhotel-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($bookhotel-typography);

@include mat-core($bookhotel-typography);

//nav tab imports
.navtabs-container{
    background-color: mat-color($bookhotel-primary, darker)
}
// All our styles will go here
.mat-list-option:hover, 
.mat-list-option.mat-list-item-focus, 
.mat-nav-list .mat-list-item:hover, 
.mat-nav-list .mat-list-item.mat-list-item-focus {
  background-color: mat-color($bookhotel-primary, 300);
  color: mat-color($bookhotel-primary, 900);
}
